/* .print {
    position:absolute;
    top: calc(80px);
    color: red;
    transform: translate(-50% -50%);
    overflow: scroll;
    padding-bottom: 20%;
} */

.abc {
    color: black;
    font-style: italic;
    
}

.image {
    height: 100%;
    width: 100%;
}

.abcd {
    color: blueviolet;
}

.women_health_center {
    text-align: center;
}

.link {
    text-decoration: none;
    color: green;
}
